:root {
  --pri: #24cfa6;
  --sec: #171717;
  --tri: #ffffff;
  --text-color: #ffff;
  --sec-text-color: #b9aaaa;
}

@font-face {
  font-family: Sher;
  src: url("Fonts/NeueMachina-Regular_DQCmjH1st.ttf");
}
@font-face {
  font-family: juana;
  src: url("Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}
@font-face {
  font-family: Helvet-EB;
  src: url("Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
}
@font-face {
  font-family: Helvet-R;
  src: url("Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}
@font-face {
  font-family: Helvet-M;
  src: url("Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
}
@font-face {
  font-family: Helvet-L;
  src: url("Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  margin: 0;
  background: url("data:image/svg+xml,%3Csvg width='1512' height='6397' viewBox='0 0 1512 6397' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_243_2)'%3E%3Crect width='1512' height='6397' fill='%230c0c0c' /%3E%3Cg opacity='0.4' filter='url(%23filter0_f_243_2)'%3E%3Cpath d='M387.38 137.553C355.297 -107.774 513.625 -371.892 752.935 -403.188C992.246 -434.485 1087.35 -273.117 1119.44 -27.7906C1151.52 217.536 993.208 -36.6224 796.88 -10.947C557.569 20.3495 419.463 382.88 387.38 137.553Z' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_243_2)'%3E%3Ccircle cx='15' cy='3176' r='185' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter2_f_243_2)'%3E%3Ccircle cx='1275' cy='840' r='64' fill='%2324cfa7' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_243_2' x='239.258' y='-551.062' width='1028.33' height='917.31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='72' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter1_f_243_2' x='-774' y='2387' width='1578' height='1578' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='302' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter2_f_243_2' x='967' y='532' width='616' height='616' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='122' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3CclipPath id='clip0_243_2'%3E%3Crect width='1512' height='6397' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 100dvw;
}

#center {
  display: grid;
  gap: 1.5rem;
  row-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 5rem 2rem 1rem 2rem;
}
#center .card {
  background: linear-gradient(rgba(36, 207, 166, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 1rem;
  overflow: hidden;
  border: 0.1rem solid rgb(26, 119, 97);
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  aspect-ratio: 1/1.3;
}
@media (max-width: 768px) {
  #center .card {
    gap: 1rem;
  }
}
#center .card img {
  width: 80%;
  border-radius: 1rem;
  border: 0.1rem solid #f2ff02;
}
#center .card span {
  font-size: 1.3rem;
  font-family: Helvet-EB;
  color: #f2ff02;
  font-weight: 800;
}
#center .card h1 {
  text-align: center;
  color: white;
  font-size: 0.8rem;
  font-family: Helvet-R;
  letter-spacing: 1.5px;
}
@media (max-width: 768px) {
  #center .card h1 {
    font-size: 1rem;
  }
}

#nav {
  width: clamp(20rem, 94vw, 160rem);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  color: var(--tri);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}
#nav img {
  width: 5em;
  margin: 20px 10px;
}
#nav h3 {
  font-size: 1em;
  font-family: sher;
  font-weight: 100;
}
#nav button {
  height: 2.5em;
  background-color: var(--pri);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;
  padding: 0em 2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
#nav #logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
#nav #tabs {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-family: Helvet-L;
}
#nav #tabs .heading {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1em;
  text-decoration: none;
}
@media (max-width: 768px) {
  #nav img {
    width: 3em;
  }
  #nav h3 {
    color: #f2f2f2;
    font-size: 0.7em;
    font-family: sher;
    font-weight: 100;
  }
  #nav button {
    height: 2.5em;
    background-color: #24cfa6;
    color: white;
    font-size: 0.8em;
    font-weight: 400;
    padding: 0em 1em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }
  #nav #logo {
    display: flex;
    align-items: center;
  }
  #nav #tabs {
    display: flex;
    justify-content: center;
  }
  #nav #tabs .heading {
    display: none;
  }
}/*# sourceMappingURL=stu.css.map */