*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: linear-gradient(#c200e9 , #0905de);
}

/* #main{
    width: 100px;
    height: 100px;
    background-color: #ab1111;
} */

h1{
    color: rgb(0, 25, 186);
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;

}

h2{
    color: yellow;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}


p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
