@font-face {
  font-family: Sher;
  src: url("./NeueMachina-Regular_DQCmjH1st.ttf");
}
@font-face {
  font-family: juana;
  src: url("./Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: url("data:image/svg+xml,%3Csvg width='1512' height='6397' viewBox='0 0 1512 6397' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_243_2)'%3E%3Crect width='1512' height='6397' fill='%230c0c0c' /%3E%3Cg opacity='0.4' filter='url(%23filter0_f_243_2)'%3E%3Cpath d='M387.38 137.553C355.297 -107.774 513.625 -371.892 752.935 -403.188C992.246 -434.485 1087.35 -273.117 1119.44 -27.7906C1151.52 217.536 993.208 -36.6224 796.88 -10.947C557.569 20.3495 419.463 382.88 387.38 137.553Z' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_243_2)'%3E%3Ccircle cx='15' cy='3176' r='185' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter2_f_243_2)'%3E%3Ccircle cx='1275' cy='840' r='64' fill='%2324cfa7' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_243_2' x='239.258' y='-551.062' width='1028.33' height='917.31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='72' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter1_f_243_2' x='-774' y='2387' width='1578' height='1578' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='302' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter2_f_243_2' x='967' y='532' width='616' height='616' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='122' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3CclipPath id='clip0_243_2'%3E%3Crect width='1512' height='6397' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100dvw;
}

#main {
  height: 100%;
}

#view1 {
  height: 100%;
}

#view2 {
  height: 100vh;
  padding: 2rem;
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  max-height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#nav img {
  width: 5em;
  margin: 20px 10px;
}
#nav h3 {
  color: #f2f2f2;
  font-size: 15px;
  font-family: sher;
  font-weight: 100;
}
#nav button {
  height: 2.5em;
  background-color: #24cfa6;
  color: white;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0em 2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}
#nav #logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#center {
  height: auto;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  flex-direction: column;
}
#center h5 {
  color: white;
  font-size: 5.7em;
  text-align: center;
  font-family: Sher;
  font-weight: 100 !important;
  padding: 10px;
  line-height: 0.845em;
}
#center .htxt {
  color: #24cfa6;
}
#center .htxt2 {
  font-family: juana;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  border-radius: 15px;
}

.btncourse {
  background-color: #24cfa6;
  color: black;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

#tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
#tabs .heading {
  color: white;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}
#tabs .htxt {
  color: #24cfa6;
}
#tabs .htxt2 {
  color: #24cfa6;
  font-size: 70px;
  font-family: juana;
}

#card {
  width: 17rem;
  height: 15rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#card img {
  width: 100%;
  border-radius: 10px;
}
#card h1 {
  color: #24cfa6;
  font-size: 0.8em;
}/*# sourceMappingURL=style.css.map */