*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}


#main{
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0px 20px;
    background: linear-gradient( #0800a6 , #000000 );
}

#nav{
    display: flex;
    justify-content:space-between;
    padding: 0px 100px;
    background: rgba(0, 0, 0, 0);   /* हल्का transparent */
    backdrop-filter: blur(8px);      /* पीछे का कंटेंट blur */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1;

}

#center{
    height: auto;
    /* border: 2px solid white; */
    border-radius: 10px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);

    display: flex;
    flex-direction: column;
}

#center h1{
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: Helvetica;

    padding: 10px;
    line-height: 0.8;
}

.btncourse{
    background-color: #1d11ff;
    color: black;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}


#nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 10px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


#nav h3{
    color: #f2f2f2;
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: cursive;

}

h2{
    color: yellow;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}


p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#tabs{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 15px;
}

.heading{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-decoration: none;
}
