*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: black;
}

#main{
    width: 100px;
    height: 100px;
    background:linear-gradient(#a80c0c  #00ff22,100% 100%);
}
