//Colors
:root {
  --pri: #24cfa6;
  --sec: #171717;
  --tri: #ffffff;
  --text-color: #ffff;
  --sec-text-color: #b9aaaa;

}

// Fonts
@font-face {
  font-family: Sher;
  src: url("Fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

@font-face {
  font-family: juana;
  src: url("Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}

@font-face {
  font-family: Helvet-EB;
  src: url("Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
}


@font-face {
  font-family: Helvet-R;
  src: url("Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: Helvet-M;
  src: url("Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
}


@font-face {
  font-family: Helvet-L;
  src: url("Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
}


// GLOBAL RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: url("data:image/svg+xml,%3Csvg width='1512' height='6397' viewBox='0 0 1512 6397' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_243_2)'%3E%3Crect width='1512' height='6397' fill='%230c0c0c' /%3E%3Cg opacity='0.4' filter='url(%23filter0_f_243_2)'%3E%3Cpath d='M387.38 137.553C355.297 -107.774 513.625 -371.892 752.935 -403.188C992.246 -434.485 1087.35 -273.117 1119.44 -27.7906C1151.52 217.536 993.208 -36.6224 796.88 -10.947C557.569 20.3495 419.463 382.88 387.38 137.553Z' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter1_f_243_2)'%3E%3Ccircle cx='15' cy='3176' r='185' fill='%2324cfa7' /%3E%3C/g%3E%3Cg filter='url(%23filter2_f_243_2)'%3E%3Ccircle cx='1275' cy='840' r='64' fill='%2324cfa7' /%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_243_2' x='239.258' y='-551.062' width='1028.33' height='917.31' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='72' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter1_f_243_2' x='-774' y='2387' width='1578' height='1578' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='302' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3Cfilter id='filter2_f_243_2' x='967' y='532' width='616' height='616' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix' /%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape' /%3E%3CfeGaussianBlur stdDeviation='122' result='effect1_foregroundBlur_243_2' /%3E%3C/filter%3E%3CclipPath id='clip0_243_2'%3E%3Crect width='1512' height='6397' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 100dvw;
}


// NAV BAR
#nav {
  // width: 100%;
  width: clamp(20rem,94vw,160rem);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 111;
  // isolation: isolate;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;

  color: var(--tri);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;

  img {
    width: 5em;
    margin: 20px 10px;
  }

  h3 {
    font-size: 1em;
    font-family: sher;
    font-weight: 100;
  }

  button {
    height: 2.5em;
    background-color: var(--pri);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    padding: 0em 2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
  }

  #logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  // TABS AREA
  #tabs {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-family: Helvet-L;

    .heading {
      color: rgb(255, 255, 255);
      text-align: center;
      font-size: 1em;
      text-decoration: none;
    }

  }

        @media(max-width: 768px) {
          
    
          img {
            width: 3em;
            // background-color: #fff;
          }
    
          h3 {
            color: #f2f2f2;
            font-size: 0.7em;
            font-family: sher;
            font-weight: 100;
          }
    
          button {
            height: 2.5em;
            background-color: #24cfa6;
            color: white;
            font-size: 0.8em;
            font-weight: 400;
            padding: 0em 1em;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
          }
    
          #logo {
            display: flex;
            align-items: center;
          }
    
          // TABS AREA
          #tabs {
            display: flex;
            justify-content: center;
    
    
            .heading {
              display: none;
            }
    
          }
    
    
        }
}


#view1 {
  // background-color: #fff;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


  // CENTER CONTENT
  .middle {
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
      color: white;
      font-size: clamp(16px,5.5rem,85px);
      text-align: center;
      font-family: Sher;
      font-weight: 100;
      padding: 10px;
      line-height: 0.845em;
    }

    .htxt {
      color: #24cfa6;
    }

    .htxt2 {
      font-family: juana;
    }

    .btncourse {
      background-color: #24cfa6;
      color: rgb(0, 0, 0);
      font-size: clamp(1.2rem, 1.6rem, 2rem);
      padding: 0.3em 1em;
      border: none;
      border-radius: 0.3em;
      cursor: pointer;
      align-self: center;
      margin-top: 1.5rem;
    }

    .sidediv {
      width: 20rem;
      font-family: Helvet-L;
      color: var(--text-color);
      position: absolute;
      right: 0px;
      bottom: 0px;
      transform: translate(80%, -60%);


      span {
        color: var(--pri);
      }
    }

  }

  .bottom {
    .milestone {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      h1 {
        color: #ffffff;
        font-size: 2rem;
        text-align: center;
        font-family: Helvet-L;
      }

      p {
        color: #ffffff;
        font-size: 1rem;
        text-align: center;
        font-family: Sher;
      }
    }

  }

  @media(max-width: 768px){
    .middle {
        h1 {
          font-size: 2.5rem;
        }
    
        .btncourse {
          font-size: 1rem;
        }
      }



    .sidediv{
      display: none;
    }
  }

}


#view2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  color: var(--text-color);
  padding: 4rem;
  margin-bottom: clamp(5rem, 1vh, 6rem);


  // position: relative;
  // background-color: #fff;

  .top {
    width: clamp(20rem,95vw,160rem);
    // background-color: #fff;
    h1 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
      font-family: Sher;
      font-weight: 100;
      padding: 10px;
      line-height: 0.845em;

      @media(max-width: 768px){
        font-size: 1.3rem;
        line-height: 1.5rem;
      }
    }

    .htxt {
      color: #24cfa6;
    }
  }

  .middle {
    width: 100%;

    .video-container {
      position: relative;
      width: clamp(25rem, 55rem, 70vw);
      aspect-ratio: 16 / 9;
      margin: auto;
      border-radius: 2rem;
      overflow: hidden;


      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;
      }

      @media(max-width: 768px) {
        // position: relative;
        width: 100%;
        border-radius: 1rem;
      }

    }
  }

  .bottom button {
    background-color: var(--pri);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }

  @media(max-width: 768px){
    height: auto;
    padding: 2rem 1.5rem;
    .middle {
      .video-container {
        aspect-ratio: 16 / 9;
      }
    }
  }

}

#view3 {
  padding: 3rem 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: #19c5ba;

  .view-top{
    width: clamp(20rem,91vw,160rem);
    padding: 3rem 0rem;
    // background-color: red;

    h1 {
      font-family: Sher;
      font-weight: 100;
      // text-align: left;
      color: white;

    }
  }

  .bottom {
    display: grid;
    gap: 2rem;
    row-gap: 2rem;
    align-items: stretch;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));

    .course-wraper {
      // height: 27.5rem;
      // background-color: #fff;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        color: var(--text-color);
        text-decoration: none;
        font-family: Helvet-L;
        font-weight: 500;
      }

      .course-image img {
        width: 100%;
        border-radius: 0.7rem 0.7rem 0 0;
        // background-color: #11874e;
        margin-bottom: -0.4rem;
      }

      .course-body {
        width: 100%;
        height: 13rem;
        padding: 1rem 1rem;
        background-color: var(--sec);
        color: var(--text-color);
        font-family: Helvet-L;
        border-radius: 0 0 0.7rem 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
          // background-color: #fff;
          .course-name{
            font-size: clamp(0.8rem, 1.4rem, 30px);
          }

          .lag-btype {
            display: flex;
            gap: 1rem;

            font-size: clamp(10px, 0.8rem, 20px);
            font-family: Helvet-L;
            font-weight: 100;
            letter-spacing: 1.5px;
            margin: 0.4rem 0rem;

            // background-color: #fff;
            h5 {
              padding: 0.2rem 0.5rem;
            }

            .batch-mode {
              background-color: #7b2e2b;
              border-radius: 0.2rem;
            }

            .language {
              background-color: #3b3a3a;
              border-radius: 0.2rem;
            }

          }

        }

        .price-box {
          // background-color: #b60dd8;
          // padding-bottom: 1rem;

          span {
            font-size: clamp(10px, 0.7rem, 20px);
            color: var(--pri);
          }

          .bottom {
            // background-color: #83b515;
            display: flex;
            justify-content: space-between;
            // height: 5rem;



            .left {
              display: flex;
              gap: 0.5rem;

              p {
                font-size: clamp(16px, 1.5rem, 30px);
                font-family: Helvet-R;
              }

              small {
                text-decoration: line-through;
                color: var(--sec-text-color);
              }

            }

            .right {
              height: clamp(10px, 1rem, 20px);
              background-color: #fff;
              color: black;
              padding: 0.1rem 0.5rem;
              border-radius: 0.3rem;


              h5 {
                font-size: clamp(10px, 0.8rem, 12px);
                // font-size: 1px;
              }
            }
          }
        }
      }





    }

    .view-details {
      margin-top: 0.5rem;
      background-color: var(--pri);
      text-align: center;
      color: black;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 0.7rem;
      letter-spacing: 1.5px;
      padding: 0.5rem 1rem;
    }

  }

}
    
