@font-face {
    font-family: Sher;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}


@font-face {
    font-family: juana;
    src: url(./Fontspring-DEMO-juana-extralightit_toKzXEsfr\ \(1\).ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    
}


#main{
    width: 100%;
    height: 100%;
    
    /* padding: 0px 20px; */
    /* background: linear-gradient( #0800a6 , #000000 ); */


}

#view1{
    width: 100%;
    height: 100%;
     background: radial-gradient(
        circle at 30% 0%,          /* center top */
        rgb(36, 207, 166,0.385) 0%, 
        rgba(0, 0, 0, 0.16) 30%,
        transparent 80%
    ),
    #050505;   /* base dark background */
}

#view2{
    width: 100%;
    height: 100%;
     background: radial-gradient(
        circle at 80% 60%,          /* center top */
        rgb(36, 207, 166,0.09) 0%, 
        rgba(0, 0, 0, 0.16) 20%,
        transparent 80%
    ),
    #050505;   /* base dark background */
}

#nav{
    display: flex;
    justify-content:space-between;
    padding: 0px 70px;
    
    background: rgba(0, 0, 0, 0);   /* हल्का transparent */
    backdrop-filter: blur(8px);      /* पीछे का कंटेंट blur */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1;

}

#center{
    height: auto;
    /* border: 2px solid white; */
    border-radius: 10px;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);

    display: flex;
    flex-direction: column;
}

#center h5{
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: Sher;
    font-weight:100;

    padding: 10px;
    line-height: 0.9;
}

.btncourse{
    background-color: #24cfa6;
    color: black;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    margin-top: 20px;
}


#nav img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 20px 10px;
}

#logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


#nav h3{
    color: #f2f2f2;
    font-size: 15px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: sher;
    font-weight: 100;
}

h2{
    color: yellow;
    text-align: center;
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
}


p{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#tabs{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 15px;
}

.heading{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.htxt{
    color: #24cfa6;
}

.htxt2{
    color: #24cfa6;
    font-size: 70px;
    font-family: juana;
}