:root{
    --pri:#Fcdec0;
    --pri2:#efe7e0;
    --sec:#4e1f00;
    --sec2:#693d20;
    --tri1:#feba17;
    --tri2:#b4846c;
}


// Fonts
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(Fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(Fonts/AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: Sher;
  src: url("../Fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

@font-face {
  font-family: juana;
  src: url("../Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}

@font-face {
  font-family: Helvet-EB;
  src: url("../Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
}


@font-face {
  font-family: Helvet-R;
  src: url("../Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: Helvet-M;
  src: url("../Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
}


@font-face {
  font-family: Helvet-L;
  src: url("../Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color:var(--sec);
}

#main{
    width: 100%;
    height: 100%;
    color: var(--pri);

}

nav{
    width: 100%;
    height: 6rem;
    background-color:var(--tri2);
    padding: 1rem;
    position: relative;

    a{
        text-decoration: none;
        .Home{
            background-color:var(--tri1);
            width: 5rem;
            border-radius: 1rem;
            padding: 0.2rem 0.3rem;
            text-align: center;
            font-family: Helvet-R;
            font-weight: 600;
            color: var(--sec);

            transition: border 0.1s ease, box-shadow 0.5s ease;

        }

        .Home:hover{
            border: 0.5px solid var(--sec);
            box-shadow: 0 0 8px;
        }
    }
}

.Allelem{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    row-gap: 2rem;
    // background-color: #fff;

    

    .elem{
        width: 100%;
        // height: 25rem;
        aspect-ratio: 1/1.2;
        // background-color: red;
        background-color:var(--tri1);
        border-radius: 1rem;
        margin-top:1rem;
        overflow: hidden;
        font-size: 2rem;
        font-family: aeonik;
        font-weight: 700;
        
        // display: flex;
        transition: 
            scale 0.3s ease;

        position: relative;


        img{
            height: 100%;
            width: 100%;
        
        }

        p{
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    }

    .elem:hover{
        scale: 0.97;
    }


}

#pages{
    font-family:aeonik;

    .Fullelem{
        height: 100%;
        width: 100%;
        background-color: var(--sec);
        padding: 2rem;
        font-size: 3rem;
        display: none;

        position: absolute;
        top: 0%;
    }

    .back{
        padding: 0.3rem 0.5rem;
        background-color: #eb0808;
        font-size: aeonik;
        font-weight: 700;

        color: #fff;
        border: none;
        border-radius: 11px;

        position: absolute;
        right: 3%;

            transition: 
            transform 01s ease,
            box-shadow 01s ease,


    }

    .back:hover{
        transform: translate(0, -5%);
    }

    .back:active{
        transform: translate(0,0);
    }


    .todo-list-fullpage{
        width: 100%;
        // display: block;

        h1{
            font-size: 3rem;
        }


        .task-container{
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;
            margin-top: 2rem;
            
            @media(max-width:768px){
                flex-wrap: wrap;
            }
            

            .addtask{
                width: clamp(23rem,33%,30rem);
                // width: 33%;
                background-color: var(--sec2);
                color: var(--sec);
                padding: 1.5rem;
                border-radius: 1rem;
                // font-family: Arial, Helvetica, sans-serif;


                form{
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }

                input{
                    background-color: var(--pri2);
                    // border: 1px solid black;
                    border: none;
                    padding: 0.8rem 1rem;
                    border-radius: 0.4rem;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    outline: none;
                }

                textarea{
                    background-color:var(--pri2);
                    height: 20rem;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.3rem;
                    outline: none;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }

                button{
                    background-color:var(--tri1);
                    border: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.3rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: white;

                    transition: scale 0.3s;
                }

                button:active{
                    scale: 0.99;
                }

                .check-imp{
                    // background-color: red;

                    input{
                        height: 20px;
                        width: 20px;
                    }

                    label{
                        font-size: 1.5rem;
                        color: var(--pri2);
                        cursor: pointer;
                    }
                }
                
            }

            .alltask{
                // width: 65%;
                width: clamp(23rem,65%,130rem);
                min-height: 42rem;
                background-color:var(--sec2);
                border-radius: 1rem;
                padding: 2rem;
                overflow: auto;

                @media(max-width:768px){
                    padding: 1.4rem;
                }

                .task-box{
                    padding: 0.5rem 2rem;
                    font-size: 1rem;
                    background-color:var(--pri2);
                    position: relative;
                    color: var(--sec);
                    border-radius: 1rem;
                    margin-bottom: 1rem;

                    
                    @media(max-width:768px){
                            border-radius: 0.4rem;
                            padding: 0.5rem 1rem;
                        }

                    summary{
                        // background-color: var(--pri2);
                        // border-radius: 0.5rem;
                        padding: 0.8rem 0.1rem;
                        display: flex;
                        justify-content: space-between;
                        
                        @media(max-width:768px){
                                padding: 0.3rem 0.1rem;
                            }
    
                        h1{
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: var(--sec);
    
                            @media(max-width:768px){
                                font-size: 1.2rem;
                            }
                        }
    
                        h1 span{
                            background-color:red;
                            border-radius: 1rem;
                            font-size: 1rem;
                            padding: 0.1rem 0.5rem;
                        }
    
                        h1 span.true{
                            opacity: 1;
                        }
    
                        h1 span.false{
                            opacity: 0;
                        }
    
                        button{
                            background-color: green;
                            color: white;
                            padding: 0.5rem 1rem;
                            border: none;
                            border-radius: 0.5rem;
    
                            @media(max-width:768px){
                                padding: 0.3rem 0.3rem;
                                font-size: 0.8rem;
                                border-radius: 0.3rem;
                            }
                        }
                    }
                }
            }
        }


    }

    .daily-planner-fullpage{
        // display: block;
        // height: 100%;


        h1{
            font-size: 3rem;
        }

        .daily-plan {
            height: 87%;
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            background-color: var(--sec2);
            padding: 2rem;
            border-radius: 1rem;
            border: 1px solid var(--tri1);
            overflow: auto;

            .planner-time {
                background-color: var(--sec);
                padding: 1rem;
                border-radius: 1rem;
                width: clamp(1rem,49%,100%);
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                // border: 0.5px solid var(--tri1);
                overflow: hidden;

                
                h2 {
                    font-size: 0.7rem;
                    color: var(--tri1);
                }

                input {
                    font-size: 1.8rem;
                    padding: 0.3rem;
                    background-color: var(--sec);
                    outline: none;
                    border: none;
                    color: var(--pri);
                }
            }

            .planner-time:active {
                border: 1px solid var(--tri2);
            }
        }


    }
}







