:root {
  --pri:#Fcdec0;
  --pri2:#efe7e0;
  --sec:#4e1f00;
  --sec2:#693d20;
  --tri1:#feba17;
  --tri2:#feb91743;
  --blue:#0d0098f9;
  --green:#00ab4df9;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(Fonts/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(Fonts/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: Sher;
  src: url("../Fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}
@font-face {
  font-family: juana;
  src: url("../Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}
@font-face {
  font-family: Helvet-EB;
  src: url("../Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
}
@font-face {
  font-family: Helvet-R;
  src: url("../Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}
@font-face {
  font-family: Helvet-M;
  src: url("../Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
}
@font-face {
  font-family: Helvet-L;
  src: url("../Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
}

#main {
  width: 100%;
  height: 100%;
  color: var(--pri);
}

nav {
  width: 100%;
  height: 6rem;
  background-color: var(--tri2);
  padding: 1rem;
  position: relative;
}
nav a {
  text-decoration: none;
}
nav a .Home {
  background-color: var(--tri1);
  width: 5rem;
  border-radius: 1rem;
  padding: 0.2rem 0.3rem;
  text-align: center;
  font-family: Helvet-R;
  font-weight: 600;
  color: var(--sec);
  transition: border 0.1s ease, box-shadow 0.5s ease;
}
nav a .Home:hover {
  border: 0.5px solid var(--sec);
  box-shadow: 0 0 8px;
}

.Allelem {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  row-gap: 2rem;
}
.Allelem .elem {
  width: 100%;
  aspect-ratio: 1/1.2;
  background-color: var(--tri1);
  border-radius: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  font-size: 2rem;
  font-family: aeonik;
  font-weight: 700;
  transition: scale 0.3s ease;
  position: relative;
}
.Allelem .elem img {
  height: 100%;
  width: 100%;
}
.Allelem .elem p {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.Allelem .elem:hover {
  scale: 0.97;
}

#pages {
  font-family: aeonik;
}
#pages .Fullelem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 2rem;
  font-size: 3rem;
  display: none;
  position: absolute;
  top: 0%;
}
#pages .back {
  padding: 0.3rem 0.5rem;
  background-color: #eb0808;
  font-size: aeonik;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 11px;
  position: absolute;
  right: 3%;
  transition: transform 1s ease, box-shadow 1s ease;
}
#pages .back:hover {
  transform: translate(0, -5%);
}
#pages .back:active {
  transform: translate(0, 0);
}
#pages .todo-list-fullpage {
  width: 100%;
}
#pages .todo-list-fullpage h1 {
  font-size: 3rem;
}
#pages .todo-list-fullpage .task-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container {
    flex-wrap: wrap;
  }
}
#pages .todo-list-fullpage .task-container .addtask {
  width: clamp(23rem, 33%, 30rem);
  background-color: var(--sec2);
  color: var(--sec);
  padding: 1.5rem;
  border-radius: 1rem;
}
#pages .todo-list-fullpage .task-container .addtask form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#pages .todo-list-fullpage .task-container .addtask input {
  background-color: var(--pri2);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
#pages .todo-list-fullpage .task-container .addtask textarea {
  background-color: var(--pri2);
  height: 20rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
#pages .todo-list-fullpage .task-container .addtask button {
  background-color: var(--tri1);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  transition: scale 0.3s;
}
#pages .todo-list-fullpage .task-container .addtask button:active {
  scale: 0.99;
}
#pages .todo-list-fullpage .task-container .addtask .check-imp input {
  height: 20px;
  width: 20px;
}
#pages .todo-list-fullpage .task-container .addtask .check-imp label {
  font-size: 1.5rem;
  color: var(--pri2);
  cursor: pointer;
}
#pages .todo-list-fullpage .task-container .alltask {
  width: clamp(23rem, 65%, 130rem);
  min-height: 42rem;
  background-color: var(--sec2);
  border-radius: 1rem;
  padding: 2rem;
  overflow: auto;
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container .alltask {
    padding: 1.4rem;
  }
}
#pages .todo-list-fullpage .task-container .alltask .task-box {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background-color: var(--pri2);
  position: relative;
  color: var(--sec);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container .alltask .task-box {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
  }
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary {
  padding: 0.8rem 0.1rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container .alltask .task-box summary {
    padding: 0.3rem 0.1rem;
  }
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--sec);
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container .alltask .task-box summary h1 {
    font-size: 1.2rem;
  }
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary h1 span {
  background-color: red;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary h1 span.true {
  opacity: 1;
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary h1 span.false {
  opacity: 0;
}
#pages .todo-list-fullpage .task-container .alltask .task-box summary button {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
}
@media (max-width: 768px) {
  #pages .todo-list-fullpage .task-container .alltask .task-box summary button {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
  }
}
#pages .daily-planner-fullpage h1 {
  font-size: 3rem;
}
#pages .daily-planner-fullpage .daily-plan {
  height: 87%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--sec2);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--tri1);
  overflow: auto;
}
@media (max-width: 768px) {
  #pages .daily-planner-fullpage .daily-plan {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}
#pages .daily-planner-fullpage .daily-plan .planner-time {
  width: 100%;
  background-color: var(--sec);
  padding: 1rem;
  border-radius: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#pages .daily-planner-fullpage .daily-plan .planner-time h2 {
  font-size: 0.7rem;
  color: var(--tri1);
}
#pages .daily-planner-fullpage .daily-plan .planner-time input {
  width: 100%;
  font-size: 1.8rem;
  padding: 0.3rem;
  background-color: var(--sec);
  outline: none;
  border: none;
  color: var(--pri);
}
#pages .daily-planner-fullpage .daily-plan .planner-time:active {
  border: 1px solid var(--tri2);
}
#pages .motivation-fullpage {
  height: 100%;
  padding: 2rem;
}
#pages .motivation-fullpage .speak {
  width: 2rem;
  aspect-ratio: 1/1;
  rotate: 180deg;
  transition: rotate 1s ease;
}
#pages .motivation-fullpage .speak:hover {
  rotate: 360deg;
}
#pages .motivation-fullpage .motivation-main {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Center wrapper */
  /* Card */
}
#pages .motivation-fullpage .motivation-main .wrapper {
  position: relative;
}
#pages .motivation-fullpage .motivation-main .quote-card {
  position: relative;
  width: 50rem;
  aspect-ratio: 2/1;
  background: #e6e6e6;
  border-radius: 30px;
  box-shadow: inset 6px 6px 12px #a09696, inset -6px -6px 12px #a09696, 0 0 20rem 20px rgba(255, 179, 0, 0.919);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: juana;
  /* Quotes */
  /* Top quote */
  /* Bottom quote */
}
@media (max-width: 768px) {
  #pages .motivation-fullpage .motivation-main .quote-card {
    margin-top: 4rem;
    width: 80vw;
    aspect-ratio: 1/2;
  }
}
#pages .motivation-fullpage .motivation-main .quote-card .box {
  font-size: 1rem;
  color: var(--tri1);
  background-color: rgba(255, 179, 0, 0.088);
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--tri1);
  font-family: Helvet-R;
}
#pages .motivation-fullpage .motivation-main .quote-card .day-time {
  position: absolute;
  top: 1rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #pages .motivation-fullpage .motivation-main .quote-card .day-time {
    flex-direction: column;
    gap: 0.5rem;
  }
}
#pages .motivation-fullpage .motivation-main .quote-card .day-time .today {
  display: flex;
  line-height: 1.5rem;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  #pages .motivation-fullpage .motivation-main .quote-card .day-time .today {
    justify-content: space-between;
  }
}
#pages .motivation-fullpage .motivation-main .quote-card .day-time .today h5 {
  writing-mode: vertical-lr;
  font-size: 1.7rem;
}
#pages .motivation-fullpage .motivation-main .quote-card .day-time .today .day {
  color: var(--sec);
  font-size: 1rem;
}
#pages .motivation-fullpage .motivation-main .quote-card .day-time .today .month {
  color: var(--sec);
  font-size: 1.5rem;
}
#pages .motivation-fullpage .motivation-main .quote-card .author {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
}
#pages .motivation-fullpage .motivation-main .quote-card .author h2 {
  color: var(--sec);
}
#pages .motivation-fullpage .motivation-main .quote-card p {
  text-align: center;
  font-size: 2.2rem;
  color: var(--sec);
}
@media (max-width: 768px) {
  #pages .motivation-fullpage .motivation-main .quote-card p {
    font-size: 1.8rem;
  }
}
#pages .motivation-fullpage .motivation-main .quote-card .quote {
  position: absolute;
  font-size: 10rem;
  color: var(--tri1);
  font-weight: bold;
  text-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
}
#pages .motivation-fullpage .motivation-main .quote-card .quote.top {
  top: -4rem;
  left: -2rem;
}
#pages .motivation-fullpage .motivation-main .quote-card .quote.bottom {
  bottom: -7rem;
  right: -2rem;
}
@media (max-width: 768px) {
  #pages .motivation-fullpage .motivation-main .quote-card .quote.bottom {
    bottom: -9.3rem;
  }
}
#pages .pomodoro-fullpage h1 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  #pages .pomodoro-fullpage h1 {
    font-size: 2rem;
  }
}
#pages .pomodoro-fullpage img {
  width: 2rem;
  aspect-ratio: 1/1;
  transition: transform 0.6s ease;
}
#pages .pomodoro-fullpage img:hover {
  transform: rotate(360deg);
}
#pages .pomodoro-fullpage .user-input {
  position: absolute;
  left: -100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: clamp(5rem, 29vw, 19rem);
  transition: all 1s ease;
}
#pages .pomodoro-fullpage .user-input input {
  width: 100%;
  background-color: var(--pri);
  padding: 0.2rem 0.8rem;
  outline: none;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 0 1rem 1px var(--tri1);
}
#pages .pomodoro-fullpage .pomodoro-main {
  background-color: var(--tri2);
  width: 30rem;
  aspect-ratio: 1/0.5;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  #pages .pomodoro-fullpage .pomodoro-main {
    width: 90%;
    height: 50%;
    justify-content: space-around;
  }
}
#pages .pomodoro-fullpage .pomodoro-main .top {
  width: 12rem;
  text-align: center;
}
#pages .pomodoro-fullpage .pomodoro-main .top h1 {
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;
  background-color: var(--green);
  font-size: 1.5rem;
}
#pages .pomodoro-fullpage .pomodoro-main .middle .time {
  font-size: 8rem;
}
#pages .pomodoro-fullpage .pomodoro-main .bottom {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#pages .pomodoro-fullpage .pomodoro-main .bottom .btn {
  width: 5rem;
  background-color: var(--tri1);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.3rem 0rem;
  font-size: 1.2rem;
  box-shadow: 1px 1px 0 1px var(--sec);
}
#pages .pomodoro-fullpage .pomodoro-main .bottom .btn:active {
  scale: 0.95;
}/*# sourceMappingURL=Productity_Monitor.css.map */