:root{
    --pri:#Fcdec0;
    --pri2:#efe7e0;
    --sec:#4e1f00;
    --sec2:#693d20;
    --tri1:#feba17;
    --tri2:#feb91743;
    --blue:#0d0098f9;
    --green:#00ab4df9;
}


// Fonts
@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(Fonts/AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(Fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(Fonts/AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: Sher;
  src: url("../Fonts/NeueMachina-Light_gwWCZxVuQl.ttf");
}

@font-face {
  font-family: juana;
  src: url("../Fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr (1).ttf");
}

@font-face {
  font-family: Helvet-EB;
  src: url("../Fonts/HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
}


@font-face {
  font-family: Helvet-R;
  src: url("../Fonts/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: Helvet-M;
  src: url("../Fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
}


@font-face {
  font-family: Helvet-L;
  src: url("../Fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color:var(--sec);
}

#main{
    width: 100%;
    height: 100%;
    color: var(--pri);

}

nav{
    width: 100%;
    height: 6rem;
    background-color:var(--tri2);
    padding: 1rem;
    position: relative;

    a{
        text-decoration: none;
        .Home{
            background-color:var(--tri1);
            width: 5rem;
            border-radius: 1rem;
            padding: 0.2rem 0.3rem;
            text-align: center;
            font-family: Helvet-R;
            font-weight: 600;
            color: var(--sec);

            transition: border 0.1s ease, box-shadow 0.5s ease;

        }

        .Home:hover{
            border: 0.5px solid var(--sec);
            box-shadow: 0 0 8px;
        }
    }
}

.Allelem{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(16rem,1fr));
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    row-gap: 2rem;
    // background-color: #fff;

    

    .elem{
        width: 100%;
        // height: 25rem;
        aspect-ratio: 1/1.2;
        // background-color: red;
        background-color:var(--tri1);
        border-radius: 1rem;
        margin-top:1rem;
        overflow: hidden;
        font-size: 2rem;
        font-family: aeonik;
        font-weight: 700;
        
        // display: flex;
        transition: 
            scale 0.3s ease;

        position: relative;


        img{
            height: 100%;
            width: 100%;
        
        }

        p{
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    }

    .elem:hover{
        scale: 0.97;
    }


}

#pages{
    font-family:aeonik;

    .Fullelem{
        height: 100%;
        width: 100%;
        background-color: var(--sec);
        padding: 2rem;
        font-size: 3rem;
        display: none;

        position: absolute;
        top: 0%;
    }

    .back{
        padding: 0.3rem 0.5rem;
        background-color: #eb0808;
        font-size: aeonik;
        font-weight: 700;

        color: #fff;
        border: none;
        border-radius: 11px;

        position: absolute;
        right: 3%;

            transition: 
            transform 01s ease,
            box-shadow 01s ease,


    }

    .back:hover{
        transform: translate(0, -5%);
    }

    .back:active{
        transform: translate(0,0);
    }


    .todo-list-fullpage{
        width: 100%;
        // display: block;

        h1{
            font-size: 3rem;
        }


        .task-container{
            display: flex;
            gap: 2rem;
            justify-content: space-evenly;
            margin-top: 2rem;
            
            @media(max-width:768px){
                flex-wrap: wrap;
            }
            

            .addtask{
                width: clamp(23rem,33%,30rem);
                // width: 33%;
                background-color: var(--sec2);
                color: var(--sec);
                padding: 1.5rem;
                border-radius: 1rem;
                // font-family: Arial, Helvetica, sans-serif;


                form{
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                }

                input{
                    background-color: var(--pri2);
                    // border: 1px solid black;
                    border: none;
                    padding: 0.8rem 1rem;
                    border-radius: 0.4rem;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                    outline: none;
                }

                textarea{
                    background-color:var(--pri2);
                    height: 20rem;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.3rem;
                    outline: none;
                    font-size: 1.5rem;
                    font-family: Arial, Helvetica, sans-serif;
                }

                button{
                    background-color:var(--tri1);
                    border: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.3rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: white;

                    transition: scale 0.3s;
                }

                button:active{
                    scale: 0.99;
                }

                .check-imp{
                    // background-color: red;

                    input{
                        height: 20px;
                        width: 20px;
                    }

                    label{
                        font-size: 1.5rem;
                        color: var(--pri2);
                        cursor: pointer;
                    }
                }
                
            }

            .alltask{
                // width: 65%;
                width: clamp(23rem,65%,130rem);
                min-height: 42rem;
                background-color:var(--sec2);
                border-radius: 1rem;
                padding: 2rem;
                overflow: auto;

                @media(max-width:768px){
                    padding: 1.4rem;
                }

                .task-box{
                    padding: 0.5rem 2rem;
                    font-size: 1rem;
                    background-color:var(--pri2);
                    position: relative;
                    color: var(--sec);
                    border-radius: 1rem;
                    margin-bottom: 1rem;

                    
                    @media(max-width:768px){
                            border-radius: 0.4rem;
                            padding: 0.5rem 1rem;
                        }

                    summary{
                        // background-color: var(--pri2);
                        // border-radius: 0.5rem;
                        padding: 0.8rem 0.1rem;
                        display: flex;
                        justify-content: space-between;
                        
                        @media(max-width:768px){
                                padding: 0.3rem 0.1rem;
                            }
    
                        h1{
                            font-size: 1.5rem;
                            font-weight: 700;
                            color: var(--sec);
    
                            @media(max-width:768px){
                                font-size: 1.2rem;
                            }
                        }
    
                        h1 span{
                            background-color:red;
                            border-radius: 1rem;
                            font-size: 1rem;
                            padding: 0.1rem 0.5rem;
                        }
    
                        h1 span.true{
                            opacity: 1;
                        }
    
                        h1 span.false{
                            opacity: 0;
                        }
    
                        button{
                            background-color: green;
                            color: white;
                            padding: 0.5rem 1rem;
                            border: none;
                            border-radius: 0.5rem;
    
                            @media(max-width:768px){
                                padding: 0.3rem 0.3rem;
                                font-size: 0.8rem;
                                border-radius: 0.3rem;
                            }
                        }
                    }
                }
            }
        }


    }

    .daily-planner-fullpage{
        // display: block;
        // height: 100%;

        h1{
            font-size: 3rem;
        }

        .daily-plan {
            height: 87%;
            
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(33rem,1fr));
            flex-wrap: wrap;
            gap: 1rem;
            background-color: var(--sec2);
            padding: 2rem;
            border-radius: 1rem;
            border: 1px solid var(--tri1);
            overflow: auto;

            @media(max-width:768px){
            grid-template-columns: repeat(auto-fill,minmax(13rem,1fr));
            }

            .planner-time {
                width: 100%;
                // min-height: 5rem;
                background-color: var(--sec);
                padding: 1rem;
                border-radius: 1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
                // border: 0.5px solid var(--tri1);
                // overflow: hidden;

                
                h2 {
                    font-size: 0.7rem;
                    color: var(--tri1);
                }

                input {
                    width: 100%;
                    font-size: 1.8rem;
                    padding: 0.3rem;
                    background-color: var(--sec);
                    outline: none;
                    border: none;
                    color: var(--pri);
                }
            }

            .planner-time:active {
                border: 1px solid var(--tri2);
            }

            

        }


    }

    .motivation-fullpage {
        // display: block;
        height: 100%;
        padding: 2rem;
        
        .speak{
            width: 2rem;
            aspect-ratio: 1/1;
            rotate: 180deg;
            transition: rotate 1s ease;
        }

        .speak:hover{
            rotate: 360deg;
        }

        .motivation-main{
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

                /* Center wrapper */
                .wrapper {
                    position: relative;
                }
        
                /* Card */
                .quote-card {
                    position: relative;
                    width:50rem;
                    aspect-ratio:2/1;
                    background: #e6e6e6;
                    border-radius: 30px;
                    box-shadow:
                        inset 6px 6px 12px #a09696,
                        inset -6px -6px 12px #a09696,
                        0  0 20rem 20px rgba(255, 179, 0, 0.919);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 2rem;
                    font-family: juana;
                    
                    // box-shadow: 0 0 100px 1px var(--tri1);
                    @media(max-width:768px){
                        margin-top: 4rem;
                        width:80vw;
                        aspect-ratio:1/2;
                    }

                    .box{
                        font-size: 1rem;
                        color: var(--tri1);
                        background-color:rgba(255, 179, 0, 0.088);
                        border-radius: 0.8rem;
                        padding: 0.5rem 1rem;
                        border: 1px solid var(--tri1);
                        font-family: Helvet-R;

                    }

                    .day-time{
                        position: absolute;
                        top: 1rem;
                        width: 85%;
                        display: flex;
                        // gap: 3rem;
                        justify-content: space-between;

                        @media(max-width:768px) {
                                flex-direction: column;
                                gap: 0.5rem;
                            }

                        .today{
                            display: flex;
                            line-height: 1.1rem;
                            gap: 0.5rem;

                            @media(max-width:768px) {
                                justify-content: space-between;
                            }

                            h5{
                                writing-mode: vertical-lr;
                                font-size: 1.3rem;
                            }

                            .day{
                                color: var(--sec);
                                font-size:1rem;
                            }

                            .month{
                                color: var(--sec);
                                font-size:1.5rem;
                            }
                        }
                    }

                    
                    .author{
                        position: absolute;
                        bottom: 1rem;
                        right: 3rem;
                        h2{
                            color: var(--sec);
                        }
                    }

                    p{
                        text-align: center;
                        font-size: 2.2rem;
                        color: var(--sec);
                    }
            
                    /* Quotes */
                    .quote {
                        position: absolute;
                        font-size: 10rem;
                        color:var(--tri1);
                        font-weight: bold;
                        text-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
                    }
            
                    /* Top quote */
                    .quote.top {
                        top: -4rem;
                        left: -2rem;
                    }
            
                    /* Bottom quote */
                    .quote.bottom {
                        bottom: -7rem;
                        right: -2rem;
                        @media(max-width:768px){
                            bottom:-9.3rem;
                        }
                    }
                }
        
        
            }
        }

    .pomodoro-fullpage{
        // display: block;

        h1{
            font-size: 3rem;

            @media(max-width:768px){
                font-size: 2rem;
            }
        }

        img{
            width: 2rem;
            aspect-ratio: 1/1;
            transition: transform 0.6s ease;
        }

        img:hover {
            transform: rotate(360deg);
        }


        .user-input{
            position: absolute;
            left: -100%;

            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            width: clamp(5rem,29vw,19rem);
            transition: all 1s ease;

            input{
                width: 100%;
                background-color: var(--pri);
                padding: 0.2rem 0.8rem;
                outline: none;
                border-radius: 0.3rem;
                border: none;
                box-shadow: 0 0 1rem 1px var(--tri1);
            }
        }

        .pomodoro-main{
            background-color:var(--tri2);
            width: 30rem;
            aspect-ratio: 1/0.5;
            border-radius: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            @media(max-width:768px){
                width: 90%;
                height: 50%;
                justify-content: space-around;
            }

            .top{
                width: 12rem;
                text-align: center;
                
                h1{
                    border-radius: 0.5rem;
                    padding: 0.4rem 0.5rem;
                    background-color:var(--green);
                    font-size: 1.5rem;
                }
            }

            .middle{
                .time{
                    font-size: 8rem;
                }
            }

            .bottom{
                display: flex;
                justify-content: center;
                gap: 1rem;

                .btn{
                    width: 5rem;
                    background-color:var(--tri1);
                    border: none;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    padding: 0.3rem 0rem;
                    font-size: 1.2rem;

                    box-shadow: 1px 1px 0 1px var(--sec);
                }

                .btn:active{
                    scale: 0.95;
                }
            }


        }
    }
}








